
<form class="crypto" action="index.html" method="post">
  <label for="">Crypto to convert from</label>
  <select class="form-control" id="crypto" #symbol>
    <option value="BTC">Bitcoin</option>
    <option value="LTC">Litecoin</option>

    <option value="STC">SwiftCoin</option>
    <option value="BCN">Bytecoin</option>
    <option value="PPC">Peercoin</option>
    <option value="DOGE">Dogecoin</option>
    <option value="EMC">Eemrcoin</option>
    <option value="FTC">Feathercoin</option>
    <option value="GRC">Gridcoin</option>

    <option value="XRP">Ripple</option>
    <option value="NXT">Nxt</option>


    <option value="DASH">Dash</option>


    <option value="XMR">Monero</option>
    <option value="XEM">NEM</option>



    <option value="VTC">Verge</option>
    <option value="XLM">Stellar</option>
    <option value="VTC">Vertcoin</option>
    <option value="ETH">Ethereum</option>
    <option value="ETC">Ethereum Classic</option>


    <option value="WAVES">Waves Platform</option>
    <option value="ZEC">Zcash</option>

    <option value="BCH">Bitcoin Cash</option>


  </select>
  <label for="">Market to convert to</label>
  <select class="form-control" id="crypto" #market>
    <option value="USD">US dollar</option>
    <option value="EUR">Euro</option>
  </select>
  <button id="button" class="btn " type="submit" name="button" (click)="triggerCryptoRequest(symbol.value, market.value, '500')"> Submit - takes a few moments for maximum accuracy</button>
</form>


<p>{{rate}} {{market.value}}</p>

