button{
  background-color: red;
  margin-top: 10px;
}
form{
  background-color: black;
  color: white;
  padding: 20px 20px 20px 20px;
}
.row{
  margin: 10px 10px 10px 10px;
}
label{
  margin-right: 10px;
}
.printout{
  background-color: black;
  color: white;
  text-align: center;
}
